.box {
  background: #bce2bc;
  bottom: 0;
  width: 100%;
  overflow-x: hidden;
}

@media only screen and (max-width: 600px) {
  .box{
    padding: 0 !important;
  }
  .fVHbfu {
    display: flex !important;
    flex-direction: column !important;
    text-align: center !important;
    margin: 0 !important;
}
}

.footer-text{
  font-size: 18px;
  color: white;
}
