@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300&family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

.base{
    overflow: hidden;
}


.text{
    color: rgb(0, 0, 0);
    white-space: nowrap;
    margin:0;
    padding:0;
    display: flex;
    justify-content: center;
    margin-block-start: 8%;
    font-family: 'Ubuntu', sans-serif;
    background: linear-gradient(87deg, #bce2bc, transparent);
}

.about{
    display: flex;
    text-align: center;
    margin: 50px;
}

.img-about{
    border-radius: 500px;
    height: 500px;
    width: 500px;
    margin:10px;
    margin-bottom: 70px;
}


.text-up{
    font-family: 'Montserrat', Semi-bold 600;
    font-size: x-large;
    width: auto;
}

@media only screen and (max-width: 600px) {

    .text-up{
    font-family: 'Montserrat', Semi-bold 600;
    font-size: 2em;
    width: auto;
    }
    .aos-init{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: space-evenly;
    align-items: center;

    }

.img-about {
    border-radius: 500px;
    height: 300px;
    margin: 10px;
    width: 300px;
    margin-bottom: 40px;
}   
.box {
    display: flex;
    background: #bce2bc;
    bottom: 0;
    overflow-x: hidden;
    width: 100%;
}
.advice{
    margin: 50px 2px;
    font-size: 1.7em;
    border-radius: 20px;
    padding: 20px;
    background-color: #bce2bc4d;
    color: #000;
    display: flex;
    font-family: Ubuntu,sans-serif;
    justify-content: center;
    margin-block-start: 8%;
    white-space: nowrap;
}
}

.advice{
    margin: 50px;
    font-size: 4em;
    border-radius: 20px;
    padding: 20px;
    background-color: #bce2bc4d;
    color: #000;
    display: flex;
    font-family: Ubuntu,sans-serif;
    justify-content: center;
    margin-block-start: 8%;
    white-space: nowrap;
}

@media only screen and (max-width: 700px) {
    .advice{
    margin: 50px;
    font-size: 2em !important;
    border-radius: 20px;
    padding: 20px;
    background-color: #bce2bc4d;
    color: #000;
    display: flex;
    font-family: Ubuntu,sans-serif;
    justify-content: center;
    margin-block-start: 8%;
    white-space: nowrap;
}
}