@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300&family=Ubuntu:wght@300&display=swap');

.text{
    color: rgb(0, 0, 0);
    white-space: nowrap;
    margin:0;
    padding:0;
    display: flex;
    justify-content: center;
    margin-block-start: 8%;
    font-family: 'Ubuntu', sans-serif;
    background: linear-gradient(87deg, #bce2bc, transparent);
}

.images{
    display: block;
    margin-left: 100px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.gallery-img{
    border-radius: 500px;
     margin:20px;
}

@media screen and (max-width: 768px) {
    .gallery-img{
        border-radius: 500px;
        margin-right: 100px;
        display: flex;
    }
    .images{
        display: block;
        margin-bottom: 100px;
        margin-left: 25px;
        margin-top: 100px;
        width: calc(100% - 50px);
    }
}

.img-for-gallery{
    width:300px;
    border-radius: 500px;
    padding: 50px;

}

.gallery-link{
    display: block;
    background-color: #bce2bc;
    padding: 1em 2em;
    border-radius: 50px;
    text-decoration: none;
    color: white;
    margin: 150px;
}

.gallery-link:hover{
    display: block;
    background-color: #ffffff;
    padding: 1em 2em;
    border-radius: 50px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin: 150px;
}


.links-to-gallery{
    position: relative;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.links-to{
    display: flex;
    position: absolute;
    z-index: 999;
    text-align: center;
    
}

@media only screen and (max-width: 600px) {
    .links-to-gallery {
    width: auto;
    align-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    flex-direction: column;
}
.links-to {
    display: flex;
    position: absolute;
    text-align: center;
    z-index: 999;
    flex-direction: column;
    gap: 90px;
}

}