@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300&family=Ubuntu:wght@300&display=swap');


.big{
  overflow: hidden;
  margin-top: 20px;
}

.about {
    align-content: stretch;
    align-items: center;
    display: block;
    flex-direction: column;
    flex-wrap: nowrap;
    font-size: x-small;
    justify-content: center;
}

.about-text {
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    font-family: Ubuntu,sans-serif;
    font-size: 1.5em;
    justify-content: center;
    margin: 30px;
    animation: text 3s 1;
}

.text{
    color: rgb(0, 0, 0);
    white-space: nowrap;
    margin:0;
    padding:0;
    display: flex;
    justify-content: center;
    margin-block-start: 8%;
    font-family: 'Ubuntu', sans-serif;
}

.afterslider{
    display: flex;
    background-color: black;
    height: 30%;
    align-content: flex-end;
    justify-content: center;

}


.call {
    display: flex;
    background-color: black;
    height: 30%;
    align-content: flex-end;
    justify-content: center;
}

.call-link{
    align-items: center;
    background: #f0f8ff;
    border-radius: 20px;
    color: #000;
    cursor: pointer;
    display: flex;
    font-family: Ubuntu,sans-serif;
    font-size: large;
    height: 30px;
    margin-left: 30px;
    margin-top: 13px;
    padding: 10px 15px;
    text-decoration: none;
    margin: 12px;
}

.titleafter{
    color: aliceblue;
    display: flex;
    justify-content: center;
    font-family: 'Ubuntu', sans-serif;
}



  .link{
    background: aliceblue;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 10px 15px;
    color: #000000;
    border-radius: 20px;
    height: 30px;
    font-size: large;
    font-family: "Ubuntu", sans-serif;
    cursor: pointer;
    margin-left: 30px;
    margin-top: 13px;
  }

  .link:hover {
    transition: all 0.2s ease-in-out;
    background: #bce2bc;
    color: #fff;
  }
.link:active{
    background: #fff;
    color:#0073e6;
}
@media only screen and (max-width: 600px){
.link{
  font-size: 1em;
  margin: 15px;}
.link:hover {
    transition: all 0.2s ease-in-out;
    background: #bce2bc;
    color: #fff;
  }
.link:active{
    background: #fff;
    color:#0073e6;
}
}

.about {
  display: flex;
}
@media only screen and (max-width: 600px){
    .titleafter{
    font-size: 1.2em;
    display: flex;
    align-content: center;
    align-items: center;
  }

.about{
  font-size: x-small;
  font-size: x-small;
  display: block;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: stretch;
  align-items: center;
}


}


  .img{
    border-radius: 700px;
    height: 380px !important;
    width: 360px !important;
    margin-left: 5px;
    margin-top: 50px;
  }


.about-text{
  display: flex;
  font-family: 'Ubuntu', sans-serif;
  flex-direction: column;
  justify-content: center;
  font-size: 1.5em;
}
@media only screen and (max-width: 600px){
  .about-text{  
    display: flex;
    flex-direction: column;
    font-family: Ubuntu,sans-serif;
    font-size: 1.5em;
    justify-content: center;
    margin: 30px;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;}
  }


  @media only screen and (max-width: 700px) {
    .img{
      border-radius: 700px;
      height: 319px!important;
      margin-left: 5px;
      margin-top: 50px;
      width: 320px!important;
    }
  }