.gallery-img{
    width:300px;
    height:300px;
}

@media screen and (max-width: 768px){
    .gallery-img{
        height: 300px !important;
        width: 300px !important;
        margin: 0 auto 30px auto !important;
    }
    .styles-module_slide__1zrfk {
        height: 100% !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        width: calc(100% - 50px) !important;
    }
    
    .styles-module_wrapper__1I_qj {
        z-index: 1 !important;
        display: flex !important;
        align-items: center !important;
        position: fixed !important;
        padding: 0 20px!important;
        left: 0 !important;
        top: 0 !important;
        width: calc(100% - 60px) !important;
        height: 100% !important;
        box-sizing: border-box !important;
        background: #ffffffed !important;
    }
    .styles-module_prev__KqFRp {
        left: 0 !important;
        margin-top: 100px !important;
    }
    
    .styles-module_navigation__1pqAE {
        height: 80% !important;
        color: black !important;
        cursor: pointer !important;
        position: absolute !important;
        font-size: 60px !important;
        line-height: 60px !important;
        font-weight: bold !important;
        display: flex !important;
        align-items: center !important;
        opacity: 0.2 !important;
        padding: 0 15px !important;
        user-select: none !important;
        -moz-user-select: none !important;
        -webkit-user-select: none !important;
    }
    .styles-module_next__1uQwZ {
        right: 0 !important;
        margin-top: 100px !important;
    }
    .styles-module_content__2jwZj {
        margin: auto !important;
        padding: 0 !important;
        width: 90% !important;
        height: 100% !important;
        max-height: 100% !important;
        text-align: center !important;
    }

    .styles-module_slide__1zrfk {
        align-items: center !important;
        display: flex !important;
        justify-content: center !important;
        width: calc(100% - 10px)!important
    }

    .styles-module_image__2hdkJ {
        margin-left: 10px!important;
        margin-top: 100px!important;
        max-height: 100% !important;
        max-width: 100% !important;
        user-select: none !important;
        -moz-user-select: none !important;
        -webkit-user-select: none !important;
        border-radius: 30px !important;
    }
    .styles-module_content__2jwZj {
        margin: auto !important;
        padding: 0 !important;
        width: 90% !important;
        height: 100% !important;
        max-height: 100% !important;
        text-align: center !important;
    }
}